@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Outfit:wght@100..900&family=Unbounded:wght@200..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

@import "tailwindcss";

:root{
  --prim-color:#299e60;
  --prim-light:#E6F9EF;
  --white-color:#fff;
  --black-color:#000;

  --Unbounded:"Unbounded",sans-serif;
  --Merienda:"Merienda",cursive;

  --transition-regular:0.3s;
  --transition-slow:0.6s
}

*{
  scroll-behavior: smooth;
}

.Unbounded{
  font-family: var(--Unbounded) !important;
}

.Merienda{
  font-family: var(--Merienda) !important;
}


